<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/0598a142-22ce-4476-9ebd-b4cb119293c6/resourceGroups/Aayush-rg/providers/Microsoft.ContainerRegistry/registries/test1project</ResourceId>
    <ResourceName>test1project</ResourceName>
    <ResourceGroup>Aayush-rg</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://test1project.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>bb4fd096-ec7a-4f86-9e85-0d38f4f9ec02</ProjectGuid>
  </PropertyGroup>
</Project>